* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 2em;
}
h1 {
    color: #003865;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: #5a5a5a;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

p {
    color: black;
    font-size: 12px;
}

.form {
    width: 450px;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: .3em;
}

.form-control input {
    padding: 5px;
}